.players-information {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 50px auto;

  .information-input {
    display: flex;
    width: 300px;
    border-radius: 12px;
    height: 50px;
    background-color: white;
    align-items: center;
    justify-content: center;

    &.active {
      border-bottom: 3px solid green; 
    }
  }
}