.board-holder {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-bottom: 70px;
}

.board {
  display: grid;
  grid-template: repeat(3, 100px) / repeat(
      3,
      100px
    );
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(128, 128, 128);
  font-size: 1.5rem;
  cursor: pointer;

  &.light {
    color: mediumspringgreen;
  }

  &.dark {
    color: rgba(0, 0, 0, 0.54);
  }
}
